In [23]:
import pandas as pd
pd.set_option('display.max_rows', 5)  # 모든 행을 출력하도록 설정

In [24]:
Bloomberg = pd.read_csv('/home/user/exercise_j/TwitterXAPI/BloombergCrypto_classified.csv')
Gavin = pd.read_csv('/home/user/exercise_j/TwitterXAPI/GavinWood_classified.csv')
Timbeiko = pd.read_csv('/home/user/exercise_j/TwitterXAPI/timbeiko_eth_classified.csv')
Arthur = pd.read_csv('/home/user/exercise_j/TwitterXAPI/ArthurHayes_classified.csv')
Jesse = pd.read_csv('/home/user/exercise_j/TwitterXAPI/JesseEckel_classified.csv')

In [25]:
df = pd.concat([Bloomberg,Gavin,Timbeiko,Arthur,Jesse], axis=0)

# 인덱스 재설정 (필요한 경우)
df.reset_index(drop=True, inplace=True)

df

,created_at,text,ticker,sentiment_score
0,2024-01-05T09:23:30.000Z,RT @RChoongWilkins: All of this happened in Ch...,NaN,NaN
1,2024-01-05T09:00:12.000Z,Nigeria’s central bank releases guidelines for...,NaN,NaN
...,...,...,...,...
9884,2021-09-14T12:56:43.000Z,@PancakeSwap 8 Days away does anyone know what...,NaN,NaN
9885,2021-08-25T14:23:55.000Z,@3I0PIVgqnUMpUEv @PancakeSwap This is a great ...,NaN,NaN

In [26]:
df = df.dropna(subset=['sentiment_score', 'ticker'])

# 'created_at' 열을 날짜 형식으로 변환
df['created_at'] = pd.to_datetime(df['created_at']).dt.strftime('%Y-%m-%d')
df['ticker'] = df['ticker'].str.replace('"', '')

# 결과 출력
print(df)

      created_at                                               text  ticker  \
2     2024-01-05  Turkey's president has appointed crypto asset ...  ticker
3     2024-01-05  MicroStrategy co-founder Michael Saylor is sel...     BTC
...          ...                                                ...     ...
9879  2021-11-22  @jofnosso @romedaofinance It just looks like a...     TRX
9882  2021-10-22  @NiftyPhoebe @Strongblock_io @WithoutTheRope H...    NFTY

      sentiment_score
2                 0.0
3                -0.5
...               ...
9879              0.8
9882              0.0

[7287 rows x 4 columns]

/tmp/ipykernel_3660980/3721858677.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['created_at'] = pd.to_datetime(df['created_at']).dt.strftime('%Y-%m-%d')
/tmp/ipykernel_3660980/3721858677.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker'] = df['ticker'].str.replace('"', '')

In [27]:
df['ticker'] = df['ticker'].str.replace('FTX', 'FTT')
# pd.set_option('display.max_rows', None)  # 모든 행을 출력하도록 설정
ticker_counts = df['ticker'].value_counts()
print(ticker_counts)

ticker
ETH       2449
ticker    1523
          ...
OKX          1
GEM          1
Name: count, Length: 265, dtype: int64

/tmp/ipykernel_3660980/929197235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker'] = df['ticker'].str.replace('FTX', 'FTT')

#### 10개 이상의 트윗이 있는 티커 구분

In [28]:
tickers_to_keep = ticker_counts[ticker_counts > 9].index

# 해당하는 'ticker' 값만을 가진 행들을 유지
df_filtered = df[df['ticker'].isin(tickers_to_keep)]

# 결과 출력
ticker_counts2 = df_filtered['ticker'].value_counts()
print(ticker_counts2)

ticker
ETH       2449
ticker    1523
          ...
GBTC        10
KSM         10
Name: count, Length: 25, dtype: int64

In [29]:
df_filtered = df_filtered[~df_filtered['ticker'].isin(['','ticker','LUNA','COIN','NFT','N/A','GMX','USDC','SBF','USDT','GBTC','KSM'])]
# df_filtered = df_filtered.reset_index(drop=True, inplace=True)
ticker_counts2 = df_filtered['ticker'].value_counts()
print(ticker_counts2)

ticker
ETH     2449
BTC     1097
        ...
LINK      13
TON       10
Name: count, Length: 13, dtype: int64

In [30]:
df_filtered

,created_at,text,ticker,sentiment_score
3,2024-01-05,MicroStrategy co-founder Michael Saylor is sel...,BTC,-0.50
5,2024-01-05,Grayscale CEO Michael Sonnenshein said the US ...,BTC,0.00
...,...,...,...,...
9831,2022-04-29,Will Ethereum 2.0 upgrade kick off the next bu...,ETH,0.75
9879,2021-11-22,@jofnosso @romedaofinance It just looks like a...,TRX,0.80

In [31]:
a = df_filtered.reset_index(drop=True)
print(a)

      created_at                                               text ticker  \
0     2024-01-05  MicroStrategy co-founder Michael Saylor is sel...    BTC
1     2024-01-05  Grayscale CEO Michael Sonnenshein said the US ...    BTC
...          ...                                                ...    ...
5140  2022-04-29  Will Ethereum 2.0 upgrade kick off the next bu...    ETH
5141  2021-11-22  @jofnosso @romedaofinance It just looks like a...    TRX

      sentiment_score
0               -0.50
1                0.00
...               ...
5140             0.75
5141             0.80

[5142 rows x 4 columns]